.header {
    background-color: #1F2937;
    width: auto;
    height: 350px;
    padding-left: 150px;
    padding-right: 150px;
}

.logo {
    display: flex;
    height: 50px;
    /* background-color: aqua; */
}

.logo .logo1 {
    flex: 1;
    justify-content: space-between;
}

.logoh {
    color: #e5e7e5;
    font-size: 24px;
}
.logoh2 {
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-size: 18px #e5e7eb;
}

li {
    flex: auto;
}

.header2{
    display: flex;
    justify-content: center;
    color: #f9faf8
}

.header2 .txt{
    flex: 1;
}

.header2 div{
    flex: 1;
}

h2 {
    font-size: 48px;
}

p {
    font-size: 18px;
}

button{ 
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
}

.img{
    background-color: aqua;
}

.txt{
    display: flex;
    justify-content: center;
}

.txt .txt2{
    flex: 1;
}

.txt2{
    height: 250px;
}
