.header {
    background-color: #1F2937;
    width: auto;
    height: 350px;
    padding-left: 150px;
    padding-right: 150px;
}

.logo {
    display: flex;
    height: 50px;
    /* background-color: aqua; */
}

.logo .logo1 {
    flex: 1;
    justify-content: space-between;
}

.logoh {
    color: #e5e7e5;
    font-size: 24px;
}
.logoh2 {
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-size: 18px #e5e7eb;
}

li {
    flex: auto;
}

.header2{
    display: flex;
    justify-content: center;
    color: #f9faf8
}

.header2 .txt{
    flex: 1;
}

.header2 div{
    flex: 1;
}

h2 {
    font-size: 48px;
}

p {
    font-size: 18px;
}

button{ 
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
}

.img{
    background-color: aqua;
}

.txt{
    display: flex;
    justify-content: center;
}

.txt .txt2{
    flex: 1;
}

.txt2{
    height: 250px;
}

.some{
    display: flex;
    flex-direction: column;
    height: 350px;
    padding-left: 150px;
    padding-right: 150px;
}

.some .s1 {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    height: 50px;
    /* background-color: #3882f6; */
}

.some .s2 {
    flex-grow: 3;
    flex-shrink: 1;
    flex-basis: auto;
    height: 50px;
    /* background-color:darkred; */
}

.s1{
    justify-content: center;
    align-items: center;
}

.some-header{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
}

.s2{
    display: flex;
    flex-direction: row;
    
}



.s2 .some-img1{
    flex: 1;
}

.s2 .some-img2{
    flex: 1;
}
.s2 .some-img3{
    flex: 1;
}

.s2 .some-img4{
    flex: 1;
}

.some-p{
    text-align: center;
}
img{
    max-width: 100%; /* Ajusta el tamaño máximo de la imagen al 100% del contenedor */
    max-height: 100%; /* Ajusta la altura máxima de la imagen al 100% del contenedor */
    height: auto;
    width: auto;
    display: block;
    margin: auto;
}

.img-p {
    font-size: 24px;
    text-align: justify;
}

.cita {
    height: 500px;
    background-color: #e5e7eb;
    margin-top: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.cita-p{
    text-align: center;
    margin: auto;
    height: 300px;
    width: 400px;
    font-size: 36px;
    color: #1F2937;
}

.call-s {
    display: flex;
    height: 500px;
    /*margin-top: 50px;*/
    align-items: center;
    justify-content: center;
}

.call-d {
    background-color: #3882f6;
    height: 200px;
    width: 1200px;
    text-align: center;
    margin: auto;
    display: flex;
    border-radius: 15px;
}

.call-d .call-interno1{
    flex-grow: 1;
    flex-shrink: 3;
    flex-basis: 1;
}

.call-d .call-interno2{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
}



.call-interno2{
    /* background-color: darkred; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-ph {
    font-size: 36px;
    color: #e5e7eb;
    font-weight: bold;
    margin-bottom: -5px;
}

.call-pt{
    color: #e5e7eb;
}

footer{
    background-color: #1F2937;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
    font-size: 30px;
}

.call-b {
    height: 50px;
    width: 100px;
    border: 2px solid white; 
}